.orders {
    padding: 4.5rem 0 1rem;
}

.orders__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.order {
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0px 2px 6px hsla(var(--hue), 100%, 15%, 0.15);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.order__item {
    display: flex;
    flex-direction: column;
}

.order__label {
    font-weight: var(--font-bold);
    margin-bottom: 0.25rem;
}

.order__title,
.order__email,
.order__topic,
.order__description {
    font-size: var(--small-font-size);
    color: var(--text-color);
    overflow-wrap: break-word;
}

.order__description {
    padding-right: 0.5rem;
    max-height: 6rem;
    font-size: var(--smaller-font-size);
    white-space: normal;
    overflow-y: auto;
}
